@using Futebol.Models;
@model Futebol.Jogadores

@{
    ViewBag.Title = "Consultar Jogador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <style>


        a {
            color: black;
            text-decoration: none;
        }

            a:hover {
                color: black;
                text-decoration: none;
            }


        #teste {
            color: black;
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        }

            #teste a:hover {
                color: #f4511e;
                text-decoration: none;
            }

        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #000000;
            margin: 1em 0;
            padding: 0;
        }

        label {
            color: black;
            padding: 12px 12px 12px 0;
            display: inline-block;
            text-align: left
        }

        input[type=submit] {
            background-color: #000000;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

            input[type=submit]:hover {
                background-color: #f4511e;
            }
    </style>

<h2 id="teste">Consultar Jogador</h2>

<div>
    <hr />
    <dl class="dl-horizontal" id="teste">
        <dt style="text-align:left">
            ID do Jogador
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDJogador)
        </dd>

        <dt style="text-align:left">
            Clube
        </dt>

        <dd>
            @Utilitarios.mapaClubeJ(Model.IDClube, ViewBag.Clube as List<Clube>)
        </dd>

        <dt style="text-align:left">
            Agente
        </dt>

        <dd>
            @Utilitarios.mapaAgenteJ(Model.IDAgente, ViewBag.Agente as List<Agente>)
        </dd>

        <dt style="text-align:left">
            Posição
        </dt>
            
        <dd>
            @Utilitarios.mapaPosicaoJ(Model.IDPosicao, ViewBag.Posicao as List<Posicao>)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt style="text-align:left">
            Data de Nascimento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

    </dl>
</div>
<div id="teste">
    @Html.ActionLink("Voltar para a Lista", "ListaJogadores")
</div>
